<html>
	<head>
		<title>LucOs Arachne - <%= title %></title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/explore/style.css" rel="stylesheet" />
		<link rel="icon" href="/icon.png" />
		<link rel="manifest" href="/manifest.json" />
	</head>
	<body>
		<lucos-navbar bg-colour="#02666d"><%= title %></lucos-navbar>
		<a href="/explore">&lt;- Home</a>
		<div class="module">
			<h2><%= title %></h2>
			<p><%= message %></p>
			<% if (locals.hint) { %>
			<p><%= locals.hint %></p>
			<% } %>
		</div>
		<script type="text/javascript" src="/explore/client.js"></script>
	</body>
</html>
