<html>
	<head>
		<title>LucOs Arachne</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/explore/style.css" rel="stylesheet" />
		<link href="/explore/categories.css" rel="stylesheet" />
		<link rel="icon" href="/icon.png" />
		<link rel="manifest" href="/manifest.json" />
	</head>
	<body>
		<lucos-navbar bg-colour="#02666d">Explore Item</lucos-navbar>
		<a href="/explore">&lt;- Home</a>
		<div class="module" <% if (category) { %>data-category="<%= category %>"<% } %>>
			<h2>Data about "<%= prefLabel %>"</h2>
			<div class='item-info'>
				<div class='item-links'>
					<a href="<%= uri %>" target="_blank">View/Edit Item</a>
					<%
					if (wikipediaLink) {
						%>
						<a href="<%= wikipediaLink %>" target="_blank">View on Wikipedia</a>
						<%
					}
					%>
				</div>
				<h3 class="predicate-label">Type</h3>
				<ul>
					<%
					for(var ii = 0; ii < types.length; ii++) {
						%>
						<li><%= types[ii] %></li>
						<%
					}
					%>
				</ul>
				<%
				const MO_LYRICS = 'http://purl.org/ontology/mo/lyrics';
				for (let key in predicates) {
					const predicate = predicates[key];
					const isLyrics = key === MO_LYRICS;
					%>
					<h3 class="predicate-label">
						<%= predicate.label %>
						<% if (predicate.count !== null && predicate.count !== undefined) { %>
							<span class="predicate-count">(<%= predicate.count.toLocaleString() %>)</span>
						<% } %>
					</h3>
					<ul>
						<%
						for(var ii = 0; ii < predicate.values.length; ii++) {
							const value = predicate.values[ii];
							%>
							<li<% if (isLyrics) { %> class="lyrics-value"<% } %>><%
								if (value.uri) {
									%><a href="/explore/item?uri=<%= encodeURIComponent(value.uri) %>"><%= value.label %></a><%
								} else if (value.inlinePredicates) {
									%><dl class="inline-node"><%
									for (const [, sp] of Object.entries(value.inlinePredicates)) {
										%><dt><%= sp.label %></dt><dd><%
										for (let si = 0; si < sp.values.length; si++) {
											const sv = sp.values[si];
											if (si > 0) { %>, <% }
											if (sv.uri) {
												%><a href="/explore/item?uri=<%= encodeURIComponent(sv.uri) %>"><%= sv.label %></a><%
											} else {
												%><%= sv.label %><%
											}
										}
										%></dd><%
									}
									%></dl><%
								} else {
									%><%= value.label %><%
								}
								if (value.also && value.also.length > 0) {
									%> <em>(also: <%
									for (var ai = 0; ai < value.also.length; ai++) {
										const alsoVal = value.also[ai];
										if (ai > 0) { %>, <% }
										if (alsoVal.uri) {
											%><a href="/explore/item?uri=<%= encodeURIComponent(alsoVal.uri) %>"><%= alsoVal.label %></a><%
										} else {
											%><%= alsoVal.label %><%
										}
									}
									%>)</em><%
								}
							%></li>
							<%
						}
						%>
					</ul>
					<% if (predicate.truncated) { %>
						<p class="see-all">
							<a href="/explore/predicate-objects?uri=<%= encodeURIComponent(uri) %>&predicate=<%= encodeURIComponent(key) %>">See all <%= predicate.count.toLocaleString() %> &rarr;</a>
						</p>
					<% } %>
					<%
				}
				%>
			</div>
		</div>
		<script type="text/javascript" src="/explore/client.js"></script>
	</body>
</html>