<html>
	<head>
		<title>LucOs Arachne</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/explore/style.css" rel="stylesheet" />
		<link rel="icon" href="/icon.png" />
		<link rel="manifest" href="/manifest.json" />
	</head>
	<body>
		<lucos-navbar bg-colour="#02666d">Explore Item</lucos-navbar>
		<a href="/explore">&lt;- Home</a>
		<div class="module">
			<h2>Data about "<%= prefLabel %>"</h2>
			<div class='item-info'>
				<div class='item-links'>
					<a href="<%= uri %>" target="_blank">View/Edit Item</a>
					<%
					if (wikipediaLink) {
						%>
						<a href="<%= wikipediaLink %>" target="_blank">View on Wikipedia</a>
						<%
					}
					%>
				</div>
				<h3 class="predicate-label">Type</h3>
				<ul>
					<%
					for(var ii = 0; ii < types.length; ii++) {
						%>
						<li><%= types[ii] %></li>
						<%
					}
					%>
				</ul>
				<% 
				for (let key in predicates) {
					const predicate = predicates[key];
					%>
					<h3 class="predicate-label"><%= predicate.label %></h3>
					<ul>
						<%
						for(var ii = 0; ii < predicate.values.length; ii++) {
							const value = predicate.values[ii];
							if (value.uri) {
								%>
								<li><a href="/explore/item?uri=<%= encodeURIComponent(value.uri) %>"><%= value.label %></a></li>
								<%
							} else {
								%>
								<li><%= value.label %></li>
								<%
							}
						}
						%>
					</ul>
					<%
				}
				%>
			</div>
		</div>
		<script type="text/javascript" src="/explore/client.js"></script>
	</body>
</html>